<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Hackschool Learn Session 2: Grids and Javascript</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/script.js"></script>

	<link rel="icon" href="/resources/logo-hack.png" type="image/x-icon" />
</head>
<body>
	<div class="container">
		<div class="row header">
			<h1><img src="/resources/logo-hack.png" class="logo"/>Hackschool Learn Session 2: Grids and Javascript</h1>
			<a href="http://tinyurl.com/hackschool17-session2-code" target="_blank">README walkthrough for this session</a>
		</div>
		<div class="row photo-row">
			{{#each images}}
			    <div class="col-md-2 col-sm-4">
					<div class="image" style="background-image: url({{this.source}})"></div>
				</div>
			{{/each}}
		</div>
		<div class="row info-pane" style="display: none">
			<div class="preview-image col-md-4 col-sm-12"></div>
			<div class="preview-text col-md-8 col-sm-12">
				<h1>This is an image of a cat</h1>
				<p>fdsafhdusfh kfhdskafkh sahfdsaklfhdjsakl hfdsa</p>
			</div>
		</div>
	</div>
</body>
</html>